<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <script type="text/javascript" src="main.js"></script>-->
<!--    <link rel= "stylesheet" type= "text/css" href= "static/styles/home.css">-->
    <title>Home page</title>
    <style>
        h2,h3{
            color: crimson;
        }
        th{
            background-color: aqua;
        }
        td{
            background-color: white;
            padding-left: 10px;
        }
        #subscribeAll{
            text-align: center;
            align-self: center;
            margin-left: 1035px;
        }
    </style>
</head>
<body>
    <h2> All contests are displayed here </h2>
    <h3>The time displayed are of the format {DD-MM-YYYY HH-MM-SS} & IST Time </h3>

    <table id="contest_table" style="border:1px solid black;padding: 1px;width: 75%;border-collapse: collapse;table-layout: auto">
        <!--    table to display contests-->
    </table>
    <br>
    <form action="/emailPageSubAll">
        <input type="submit" id="subscribeAll" value="Subscribe All" />
    </form>

    <script>
        // get the table object
        var contest_table = document.getElementById("contest_table");

        // function to fetch DB & display using DOM
        function display_table() {
            contest_table.innerHTML=" "     // Emptying the html before inserting

            fetch("http://127.0.0.1:5000/contests").then(response => response.json()).then(data => {
                contest_table.setAttribute('border','2');

                // Modifying the table using DOM
                contest_table.innerHTML="<tr>" +
                                        "<th>No.</th>" +
                                        "<th>Contest Name</th>" +
                                        "<th>Duration </th>" +
                                        "<th>Start Time</th>" +
                                        "<th>End Time</th>" +
                                        "<th>Phase</th>" +
                                        "<th>Email Me</th>" +
                                        "</tr>"

                // display records where contest is running/upcoming
                for(let record=0;record<data.records.length;record++){
                    var conID=data.records[record]['id'];
                    var conStartTime=data.records[record]['startTime'];

                    // Disable subscribe button if currTime() exceeds the cutOff time (i.e contestTime - 3600) UNIX
                    let currentTime=Math.floor(Date.now() /1000);
                    let cutOffTime=data.records[record]['startTime'] - 3600;

                    // Here we also pass contestId and contestTime as a query Parameter
                    // when the subscribe button is Hit
                    if(data.records[record]['phase'] !== "Ended"){
                        if(data.records[record]['phase'] !== "Coding" && currentTime < cutOffTime){
                            contest_table.innerHTML+="<tr>" +
                                              "<td>"+ data.records[record]['id'] +"</td>" +
                                              "<td>"+ data.records[record]['contest_name'] +"</td>" +
                                              "<td>"+ data.records[record]['durationFormatted'] +" Hrs </td>" +
                                              "<td>"+ data.records[record]['startTimeFormatted'] +"</td>" +
                                              "<td>"+ data.records[record]['endTimeFormatted'] +"</td>" +
                                              "<td>"+ data.records[record]['phase'] +"</td>" +
                                              "<td><form action=\"/emailPage\" style='padding: 4px'>" +
                                                "<input type='hidden' name='contestId' value=\'"+ conID +"\'>" +
                                                "<input type='hidden' name='contestTime' value=\'"+ conStartTime +"\'>" +
                                                "<input type=\"submit\" value=\"Subscribe\">" +
                                              "</form></td>" +
                                              "</tr>"
                        }
                        else{
                            contest_table.innerHTML+="<tr>" +
                                              "<td>"+ data.records[record]['id'] +"</td>" +
                                              "<td>"+ data.records[record]['contest_name'] +"</td>" +
                                              "<td>"+ data.records[record]['durationFormatted'] +" Hrs</td>" +
                                              "<td>"+ data.records[record]['startTimeFormatted'] +"</td>" +
                                              "<td>"+ data.records[record]['endTimeFormatted'] +"</td>" +
                                              "<td>"+ data.records[record]['phase'] +"</td>" +
                                              "<td> NULL </td>" +
                                              "</tr>"
                        }
                    }
                }
            })
        }

        display_table();
    </script>

</body>
</html>